@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
#menu-k .navbar-toggler {
  color: #f2f2f2;
}
#menu-k .nav-link {
  font-size: 24px;
}
#footer1-y P {
  text-align: center;
}
#content5-d P {
  text-align: center;
}
#content5-d .mbr-section-title {
  text-align: center;
}
#menu-g .navbar-toggler {
  color: #f2f2f2;
}
#menu-g .nav-link {
  font-size: 24px;
}
#footer1-y P {
  text-align: center;
}
#menu-h .navbar-toggler {
  color: #f2f2f2;
}
#menu-h .nav-link {
  font-size: 24px;
}
#pricing-table1-i SPAN {
  text-align: left;
  font-size: 36px;
}
#pricing-table1-i DIV {
  text-align: center;
}
#footer1-y P {
  text-align: center;
}
#header1-10 H1 {
  text-align: center;
}
#footer1-y P {
  text-align: center;
}
#menu-g .navbar-toggler {
  color: #f2f2f2;
}
#menu-g .nav-link {
  font-size: 24px;
}

#menu-n .navbar-toggler {
  color: #f2f2f2;
}
#menu-n .nav-link {
  font-size: 24px;
}
#content1-r P {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}
#footer1-y P {
  text-align: center;
}

#menu-m .navbar-toggler {
  color: #f2f2f2;
}
#menu-m .nav-link {
  font-size: 24px;
}
#content1-x P {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}
#footer1-y P {
  text-align: center;
}
#header1-12 H1 {
  text-align: center;
}
#footer1-15 P {
  text-align: center;
}
#menu-16 .navbar-toggler {
  color: #f2f2f2;
}
#menu-16 .nav-link {
  font-size: 24px;
}
